html,
body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  box-sizing: border-box;
  font-family: helvetica, sans-serif;
  color: #333;
}

body > :global(.ember-view) {
  height: 100%;
}

* {
  box-sizing: inherit;
}
